<%= form_for @newsletter_subscriber do |f| %>
  <fieldset class="no-border-top">
    <h4>Рассылки, на которые Вы подписаны:</h4>
    <div class="form-group col-md-6">
      <div class="field">
        <%= f.label :subscribed do %><br />
          <%= f.check_box :subscribed, class: 'form-control', checked_value: true, unchecked_value: false %>
          Выгодные предложения магазина
        <% end %>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div data-hook="buttons" class="form-actions">
        <%= button "Обновить", 'ok', 'submit', {class: 'btn-success'} %>
      </div>
    </div>
  </fieldset>
<% end %>
